input[type=range].catalog__params-price-range {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.95px 0;
}

input[type=range].catalog__params-price-range:focus {
  outline: none;
}

input[type=range].catalog__params-price-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.1px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #f0f0f0;
  border-radius: 3px;
  border: 0.2px solid #010101;
}

input[type=range].catalog__params-price-range::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0.2px #f16d7f, 0px 0px 0px #f38493;
          box-shadow: 0px 0px 0.2px #f16d7f, 0px 0px 0px #f38493;
  border: 1px solid #f16d7f;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #f16d7f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.15px;
}

input[type=range].catalog__params-price-range:focus::-webkit-slider-runnable-track {
  background: #f0f0f0;
}

input[type=range].catalog__params-price-range::-moz-range-track {
  width: 100%;
  height: 6.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #f0f0f0;
  border-radius: 3px;
  border: 0.2px solid #010101;
}

input[type=range].catalog__params-price-range::-moz-range-thumb {
  box-shadow: 0px 0px 0.2px #f16d7f, 0px 0px 0px #f38493;
  border: 1px solid #f16d7f;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #f16d7f;
  cursor: pointer;
}

input[type=range].catalog__params-price-range::-ms-track {
  width: 100%;
  height: 6.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range].catalog__params-price-range::-ms-fill-lower {
  background: #858585;
  border: 0.2px solid #010101;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range].catalog__params-price-range::-ms-fill-upper {
  background: #f0f0f0;
  border: 0.2px solid #010101;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range].catalog__params-price-range::-ms-thumb {
  box-shadow: 0px 0px 0.2px #f16d7f, 0px 0px 0px #f38493;
  border: 1px solid #f16d7f;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #f16d7f;
  cursor: pointer;
  height: 6.1px;
}

input[type=range].catalog__params-price-range:focus::-ms-fill-lower {
  background: #f0f0f0;
}

input[type=range].catalog__params-price-range:focus::-ms-fill-upper {
  background: #ffffff;
}

.searcher__browse-list {
  display: block;
  outline: none;
}

.searcher__browse-list::-webkit-details-marker {
  display: none;
}

.searcher__browse-list::after {
  content: '\25B6';
  padding-right: 0.5px;
  padding-left: 8px;
  color: #838383;
  font-size: 10px;
  font-weight: 400;
}

.searcher__browse[open] > .searcher__browse-list::after {
  content: '\25BC';
  padding-left: 8px;
  color: #838383;
  font-size: 10px;
  font-weight: 400;
}

.searcher__browse-list:hover.searcher__browse-list::after {
  color: #f16d7f;
  background-color: initial;
}

.header__account-list {
  display: block;
  outline: none;
}

.header__account-list::-webkit-details-marker {
  display: none;
}

.header__account-list::after {
  content: '\25B6';
  padding-right: 0.5px;
  padding-left: 8px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
}

.header__account[open] > .header__account-list::after {
  content: '\25BC';
  padding-left: 8px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-11 20:33:38
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -webkit-transform-transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -webkit-transform-transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -webkit-transform-transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    -webkit-transform-transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -webkit-transform-transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -webkit-transform-transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -webkit-transform-transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -webkit-transform-transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -webkit-transform-transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -webkit-transform-transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    -webkit-transform-transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -webkit-transform-transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -webkit-transform-transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -webkit-transform-transform: scale3d(1, 1, 1);
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.global-wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sub-zero, .logo__text, .searcher__drop-menu-heading, .menu__extended-heading, .searcher__drop-menu-items, .menu__extended-block-items, .menu__list, .slide__text-one, .slide__text-two, .promo__text-one, .promo__text-two, .products-main-page__text-one, .products-main-page__text-two, .product__name, .product__cart-btn-text, .product__price, .offer__text-one, .offer__text-two, .offer__details-unit-heading, .offer__details-unit-description, .feedback__left-half-quotation, .feedback__left-half-name, .feedback__left-half-addition, .feedback__right-half-heading, .feedback__right-half-text, .footer__info-text, .footer__nav-heading, .footer__nav-menu, .footer__copyright, .catalog__category-list, .catalog__params-name, .catalog__params-trend-list, .catalog__sorting-unit, .catalog__paginator-numbers, .product-info__collection-name, .product-info__product-name, .product-info__text, .product-info__params-name, .may-like__text, .cart__title, .cart-product__name, .cart-drop-prod__info, .cart-drop-prod__total > p, .shipping-adress__name, .coupone-discont__name, .coupone-discont__text, .goto-checkout__sub-total, .goto-checkout__grand-total, .checkout__category-content-text-style-one, .checkout__category-content-text-style-two, .checkout__category-content-form-reg-input, .checkout__category-content-form-signin-btn {
  margin: 0px;
}

.container, .header__container, .menu, .slide__container, .promo, .products-main-page, .offer, .feedback__container, .footer__top-part, .footer__bottom-part_container, .arrivals__container, .catalog_container, .catalog__offer_container, .product-description_container, .may-like, .cart, .checkout {
  width: 1140px;
  margin: 0 auto;
}

.header {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left-half {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.header__right-half {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 10px;
}

.header__account {
  min-width: 135px;
  position: relative;
}

.header__account-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  cursor: default;
  position: relative;
}

.header__account-content {
  position: absolute;
  padding: 15px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__account-content:hover .header__account-content-img {
  -webkit-transform: scale(1.1) rotateY(360deg);
          transform: scale(1.1) rotateY(360deg);
}

.header__account-content:hover .header__account-content-text {
  visibility: visible;
  text-shadow: -7px 13px 2px rgba(0, 0, 0, 0.72);
}

.header__account-content-text {
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #f16d7f;
  font-size: 20px;
  font-weight: 600;
}

.header__account-content-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__cart-reference {
  display: block;
  position: relative;
}

.header__cart-wrapper {
  position: relative;
}

.header__cart-drop-list {
  position: absolute;
  top: 55px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  z-index: 1;
}

.header__cart-drop-list::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -7px;
  left: 35px;
}

.header__cart-drop-list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 230px;
}

.header__cart-img {
  padding: 10px 25px 0px 25px;
}

.header__cart-indicator {
  background-color: #f16d7f;
  min-width: 19px;
  min-height: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  left: 50px;
  text-align: center;
  line-height: 19px;
  position: absolute;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
}

.logo__text {
  padding: 20px 12px 12px 12px;
  letter-spacing: 0.68px;
}

.logo__text_color-accent {
  color: #f16d7f;
  font-weight: 400;
}

.searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  padding-right: 15px;
}

.searcher__browse {
  min-width: 100px;
  position: relative;
}

.searcher__browse-list {
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0.35px;
  cursor: default;
}

.searcher__browse-list:hover {
  color: #f16d7f;
  background-color: initial;
  border-color: #f16d7f;
}

.searcher__drop-menu {
  position: absolute;
  z-index: 2;
  top: 46px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  width: 233px;
  padding: 5px 15px;
}

.searcher__drop-menu::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -7px;
  left: 70px;
}

.searcher__drop-menu-heading, .menu__extended-heading {
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  padding: 10px 2px;
}

.searcher__ref, .menu__extended-ref {
  display: block;
  padding: 5px 10px;
  color: #232323;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.searcher__ref:hover, .menu__extended-ref:hover {
  color: #f16d7f;
  background-color: initial;
}

.searcher__drop-menu-items, .menu__extended-block-items {
  list-style-type: none;
  padding: 10px 7px;
}

.searcher__drop-menu-item, .menu__extended-block-item {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.searcher__drop-menu-item:hover, .menu__extended-block-item:hover {
  color: #f16d7f;
  background-color: initial;
}

.searcher__form {
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  border-left: none;
  background-color: #ffffff;
}

.searcher__input {
  padding: 15px;
  border: none;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  width: 250px;
}

.searcher__input-btn {
  padding: 15px;
  border: none;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  background-color: #ffffff;
  border-left: 1px solid #e6e6e6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.searcher__input-btn:hover {
  color: #f16d7f;
  background-color: #a4a4a4;
  border-radius: 0 3px 3px 0;
}

.menu__list {
  list-style-type: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  display: inline-block;
  color: #222222;
  padding: 20px 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__link:hover {
  color: #f16d7f;
  background-color: initial;
}

.menu__item {
  position: relative;
}

.menu__item:hover .menu__extended-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item-picked {
  border-bottom: 3px solid #ef5b70;
}

.menu__extended-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 25px 15px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  position: absolute;
  top: 55px;
  left: -25px;
  max-width: 845px;
  display: none;
  z-index: 1;
}

.menu__extended-list::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  z-index: 2;
  top: -7px;
  left: 85px;
}

.menu__extended-block {
  padding-right: 45px;
  width: 235px;
  position: relative;
}

.menu__extended-block:last-of-type {
  padding-right: 0px;
}

.menu__extended-block_padding {
  padding-bottom: 125px;
}

.menu__extended-ref {
  padding-left: 0;
}

.menu__extended-heading {
  padding-bottom: 0px;
}

.menu__extended-block-items {
  padding: 0;
  padding-top: 15px;
}

.menu__extended-block-item {
  text-transform: none;
}

.menu__extended-block-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.menu__extended-block-text-in-img {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  position: absolute;
  bottom: 12px;
  right: 10px;
}

.slide {
  height: 615px;
  background-color: #e8e8e8;
}

.slide__container {
  height: 380px;
  padding: 225px 10px 10px;
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-position: 35px -50px;
}

.slide__texts {
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  width: 570px;
  border-left: 10px solid #f16d7f;
  padding-left: 10px;
}

.slide__texts_color-accent {
  color: #f16d7f;
}

.slide__text-one {
  font-size: 60px;
  line-height: 43px;
  letter-spacing: 1.5px;
}

.slide__text-two {
  font-size: 40px;
  line-height: 34px;
  padding-top: 20px;
  letter-spacing: 1px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 95px;
}

.promo__link {
  display: block;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.promo__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: -7px 13px 16px 7px rgba(0, 0, 0, 0.27);
          box-shadow: -7px 13px 16px 7px rgba(0, 0, 0, 0.27);
  z-index: 1;
}

.promo__link:last-of-type {
  margin-bottom: 0px;
}

.promo__left-half {
  padding-right: 10px;
}

.promo__right-half {
  padding-left: 10px;
}

.promo__img-crutch {
  background-image: url("../img/promo-small-l.jpg"), url("../img/promo-small-l-background.png");
  background-repeat: no-repeat;
  background-position: right, center;
  width: 560px;
  height: 261px;
}

.promo__texts {
  position: absolute;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 15px 20px;
  top: 25px;
}

.promo__text-one {
  color: #222222;
  font-size: 18px;
  letter-spacing: 0.45px;
}

.promo__text-two {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
}

.products-main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 110px;
}

.products-main-page__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.products-main-page__text-one {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.products-main-page__text-two {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  padding-top: 15px;
  letter-spacing: 0.35px;
}

.products-main-page__products {
  padding-top: 60px;
  padding-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.products-main-page__browse-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  background-color: #f16d7f;
  padding: 15px 25px;
  letter-spacing: 0.4px;
}

.product {
  width: 260px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.product:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.product:hover .product__img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.product:hover .product__cart-btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: visible;
}

.product__img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 5px;
}

.product__name {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product__name:hover {
  color: #f16d7f;
  background-color: initial;
}

.product__cart-btn {
  position: absolute;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  top: 95px;
  left: 67px;
  cursor: default;
  visibility: hidden;
}

.product__cart-btn:hover {
  outline: 2px solid #ffffff;
}

.product__cart-btn-text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  padding-left: 10px;
}

.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
}

.offer {
  min-height: 525px;
  background-color: #f0f0f0;
  background-image: url("../img/offer-bg-2.png"), url("../img/offer-img.jpg");
  background-repeat: no-repeat, no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 100px;
}

.offer__texts {
  position: absolute;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  left: 40px;
  top: 145px;
}

.offer__texts_color-accent {
  color: #f16d7f;
}

.offer__text-one {
  font-size: 54px;
  letter-spacing: 1.5px;
}

.offer__text-two {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.offer__details {
  width: 310px;
  background-color: #222224;
  padding: 45px 40px 65px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__details-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.offer__details-unit-texts {
  padding-left: 35px;
}

.offer__details-unit-heading {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.offer__details-unit-description {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  padding-top: 15px;
  letter-spacing: 0.35px;
  line-height: 24px;
}

.feedback {
  height: 435px;
  background-color: #f2f2f2;
  background-image: url("../img/feedback-bg-1.png"), url("../img/feedback-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

.feedback__container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__left-half {
  width: 499px;
  padding-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 110px;
  padding-bottom: 15px;
  border-right: 1px solid #ffffff;
}

.feedback__left-half-wrapper {
  padding-left: 25px;
}

.feedback__left-half-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback__left-half-quotation {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.feedback__left-half-name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  padding-top: 20px;
}

.feedback__left-half-addition {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.feedback__left-half-selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.feedback__left-half-selector {
  width: 40px;
  height: 5px;
  background-color: #d6d6d6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feedback__left-half-selector_wrapper {
  padding: 15px 7px;
}

.feedback__left-half-selector_wrapper:first-of-type {
  padding-left: 0;
}

.feedback__left-half-selector_wrapper:last-of-type {
  padding-right: 0;
}

.feedback__left-half-selector_wrapper:hover .feedback__left-half-selector {
  outline: 0.5px solid #d6d6d6;
}

.feedback__left-half-selector_color-accent {
  background-color: #f16d7f;
}

.feedback__right-half {
  width: 480px;
  padding-left: 90px;
  padding-top: 150px;
}

.feedback__right-half-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__right-half-heading {
  font-size: 24px;
  letter-spacing: 0.6px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222224;
}

.feedback__right-half-text {
  font-size: 14px;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  color: #222224;
  padding-top: 10px;
}

.feedback__right-half-form {
  padding-top: 35px;
}

.feedback__right-half-form-input {
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding: 20px 30px;
  width: 280px;
  outline: none;
}

.feedback__right-half-form-btn {
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding: 20px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feedback__right-half-form-btn:hover {
  cursor: crosshair;
  -webkit-box-shadow: -17px 11px 16px 2px rgba(0, 0, 0, 0.51);
          box-shadow: -17px 11px 16px 2px rgba(0, 0, 0, 0.51);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 570px;
}

.footer__top-part {
  padding-top: 110px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__info {
  width: 456px;
  height: 290px;
  overflow: hidden;
}

.footer__info:hover {
  height: auto;
}

.footer__info-text {
  padding-top: 30px;
  padding-right: 30px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 24px;
  min-width: 430px;
}

.footer__nav-block {
  width: 228px;
  padding-top: 20px;
}

.footer__nav-heading {
  display: block;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  padding-left: 30px;
}

.footer__nav-menu {
  list-style-type: none;
  padding-top: 35px;
  padding-left: 0;
}

.footer__nav-menu-item {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.footer__nav-ref {
  display: block;
  color: #898989;
  padding: 10px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__nav-ref:hover {
  color: #f16d7f;
  background-color: initial;
}

.footer__bottom-part {
  background-color: #e6e6e6;
}

.footer__bottom-part_container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social-icon:last-of-type {
  margin-right: 0;
}

.footer__social-icon:hover {
  color: #f7f7f8;
  background-color: #f16d7f;
}

.arrivals {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f8f3f4;
}

.arrivals__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrivals__text {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.arrivals__breadcrumb {
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.arrivals__breadcrumb-item {
  display: inline;
  font-weight: 300;
}

.arrivals__breadcrumb-item + .arrivals__breadcrumb-item::before {
  color: #636363;
  content: "/\00a0";
  font-weight: 300;
}

.arrivals__breadcrumb-item_color-accent {
  color: #f16d7f;
  font-weight: 700;
  cursor: default;
}

.arrivals__breadcrumb-item-ref {
  color: #636363;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.arrivals__breadcrumb-item-ref:hover {
  color: #f16d7f;
  background-color: initial;
}

.catalog {
  padding-top: 60px;
}

.catalog_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.catalog__params {
  width: 235px;
}

.catalog__category {
  padding-top: 20px;
}

.catalog__category[open] > .catalog__category-name::after {
  content: '\25BC';
}

.catalog__category[open] .catalog__category-name {
  color: #ef5b70;
}

.catalog__category:first-of-type {
  padding-top: 0;
}

.catalog__category-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 10px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  outline: none;
  cursor: default;
}

.catalog__category-name::-webkit-details-marker {
  display: none;
}

.catalog__category-name::after {
  content: '\25B6';
}

.catalog__category-list {
  list-style-type: none;
  padding: 10px;
}

.catalog__category-ref {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog__category-ref:hover {
  color: #f16d7f;
  background-color: initial;
}

.catalog__main {
  width: 850px;
  padding-left: 55px;
  padding-top: 15px;
}

.catalog__main-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.catalog__params-name {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__params-name_grid-pos {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.catalog__params-name_shift {
  padding-left: 9px;
}

.catalog__params-trend-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0;
  padding-top: 15px;
  width: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.catalog__params-trend-item {
  padding: 5px 9px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog__params-trend-item + .catalog__params-trend-item::before {
  content: "|";
  color: #6f6e6e;
  font-weight: 600;
  position: absolute;
  top: 5px;
  left: -2px;
}

.catalog__params-trend-item:nth-of-type(4)::before {
  content: '';
}

.catalog__params-trend-item:hover {
  color: #ffffff;
  background-color: #6f6e6e;
}

.catalog__params-size {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 1fr 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template: 30px 1fr 1fr/repeat(4, 1fr);
}

.catalog__params-size-item {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  padding: 7px;
  padding-left: 0;
}

.catalog__params-size-item input {
  opacity: 0;
}

.catalog__params-size-item input:checked + .catalog__params-size-item-name::before {
  background-color: #ffffff;
}

.catalog__params-size-item input:checked + .catalog__params-size-item-name::after {
  visibility: visible;
}

.catalog__params-size-item-name {
  position: relative;
}

.catalog__params-size-item-name::before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid;
  position: absolute;
  top: -8px;
  left: -11px;
}

.catalog__params-size-item-name::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 6px;
  border-left: 1px solid;
  border-bottom: 2px solid;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: -8px;
  top: -7px;
  visibility: hidden;
}

.catalog__params-price {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.catalog__params-price-value {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
}

.catalog__params-price-range {
  padding-top: 18px;
}

.catalog__sorting {
  padding: 10px;
  width: inherit-20px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.catalog__sorting-unit {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 8px;
  margin-right: 10px;
}

.catalog__sorting-unit select {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-left: 1px solid #ebebeb;
  outline: none;
}

.catalog__products {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.catalog__extension {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

.catalog__paginator {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__paginator-numbers {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.catalog__paginator-ref, .catalog__paginator-dots, .catalog__paginator-next, .catalog__paginator-back, .catalog__paginator-number-max {
  color: #c4c4c4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 7px;
}

.catalog__paginator-ref:hover, .catalog__paginator-dots:hover, .catalog__paginator-next:hover, .catalog__paginator-back:hover, .catalog__paginator-number-max:hover {
  color: #f16d7f;
  background-color: initial;
}

.catalog__paginator-ref:focus, .catalog__paginator-dots:focus, .catalog__paginator-next:focus, .catalog__paginator-back:focus, .catalog__paginator-number-max:focus {
  color: #f16d7f;
}

.catalog__view-all-btn {
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 45px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog__view-all-btn:hover {
  color: #ef5b70;
  background-color: #ebebeb;
}

.catalog__offer {
  background-color: #222224;
}

.catalog__offer_container {
  padding-top: 90px;
  padding-bottom: 115px;
  padding: 90px 25px 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.catalog__offer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__offer-texts {
  padding-left: 0;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.slider {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__left-half, .slider__right-half {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 365px;
  padding-bottom: 365px;
}

.slider__left-half:hover .slider__mover, .slider__right-half:hover .slider__mover {
  background-color: #f16d7f;
}

.slider__right-half {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider__mover {
  background-color: #2a2a2a;
  color: #ffffff;
  font-weight: 400;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-description {
  height: 700px;
}

.product-description_container {
  position: relative;
}

.product-info {
  width: 620px;
  padding: 70px 260px 120px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -70px;
}

.product-info__collection-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.product-info__collection-name {
  padding-bottom: 15px;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
}

.product-info__collection-name_color-underline {
  position: absolute;
  bottom: -1px;
  width: 65px;
  height: 3px;
  background-color: #ef5b70;
}

.product-info__product-name {
  padding-top: 15px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.product-info__text {
  padding-top: 67px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.product-info__other {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-info__wrapper-left {
  min-width: 30%;
  text-align: right;
  padding: 30px 20px 35px;
}

.product-info__wrapper-right {
  min-width: 30%;
  padding: 30px 20px 35px;
}

.product-info__material, .product-info__designer {
  color: #2f2f2f;
}

.product-info__price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  text-align: center;
  padding-bottom: 43px;
}

.product-info__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
}

.product-info__params-name {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.product-info__params-color > select {
  outline: none;
  padding: 12px 85px 13px 35px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
}

.product-info__params-size > select {
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  padding: 12px 105px 13px 15px;
}

.product-info__params-quantity > input {
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  padding: 12px;
}

.product-info__add-btn {
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  padding: 15px 205px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.product-info__add-btn > span {
  padding-left: 15px;
}

.product-info__add-btn:hover {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}

.may-like {
  padding-top: 120px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.may-like__text {
  padding-right: 20px;
  padding-left: 20px;
  color: #a4a4a4;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.may-like__products {
  padding-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cart__products {
  padding-top: 90px;
  padding-bottom: 80px;
}

.cart__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 6fr 2fr 2fr 2fr 2fr 1fr;
      grid-template-columns: 6fr 2fr 2fr 2fr 2fr 1fr;
}

.cart__grid-item {
  padding-left: 5px;
  padding-right: 5px;
}

.cart__titles {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.cart__title {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.cart__title:first-of-type {
  text-align: left;
  padding-left: 0;
}

.cart__title:last-of-type {
  text-align: end;
  padding-right: 0;
}

.cart__items {
  padding-bottom: 45px;
}

.cart__clear-or-continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__btn {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  padding: 20px 40px;
  cursor: default;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart__btn:hover {
  color: #ffffff;
  background-color: #f16d7f;
}

.cart__other {
  padding-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-product {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.cart-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0;
}

.cart-product__img {
  width: 100px;
  height: auto;
}

.cart-product__params {
  padding: 13px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-product__name {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 38px;
  padding-right: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart-product__name:hover {
  color: #f16d7f;
}

.cart-product__txt {
  color: #575757;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.cart-product__color, .cart-product .cart-product__size {
  color: #6f6e6e;
  font-weight: 300;
}

.cart-product__price, .cart-product__shipping, .cart-product__subtotal {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 152px;
  word-break: break-all;
  text-align: center;
}

.cart-product__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-product__quantity > input {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  text-align: center;
  padding: 10px 20px;
  width: 55px;
}

.cart-product__shipping {
  text-transform: uppercase;
  max-width: 152px;
}

.cart-product__subtotal {
  max-width: 152px;
  word-break: break-all;
  text-align: center;
}

.cart-product__del-btn {
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 35px;
  padding-right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart-product__del-btn_padding {
  padding: 10px;
}

.cart-product__del-btn_padding:hover {
  color: #f16d7f;
}

.cart-drop-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  padding-bottom: 15px;
  padding-top: 20px;
  border-bottom: 1px solid #ededed;
}

.cart-drop-prod__img {
  width: 72px;
  height: auto;
}

.cart-drop-prod__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
}

.cart-drop-prod__name {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart-drop-prod__name:hover {
  color: #f16d7f;
}

.cart-drop-prod__stars {
  color: #e4af48;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.cart-drop-prod__info {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
}

.cart-drop-prod__del-btn {
  color: #c0c0c0;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin: auto 0;
}

.cart-drop-prod__del-btn:hover {
  cursor: pointer;
}

.cart-drop-prod__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
}

.cart-drop-prod__btn {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  width: 185px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
  margin-top: 11px;
}

.cart-drop-prod__btn:first-of-type {
  margin-top: 30px;
}

.cart-drop-prod__btn:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}

.shipping-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shipping-adress__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shipping-adress__name, .coupone-discont__name {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.shipping-adress__form-unit {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  outline: none;
  padding: 16px;
  width: 319px;
  margin-top: 20px;
}

.shipping-adress__form-unit_width {
  width: 283px;
}

.shipping-adress__form-btn {
  color: #a4a4a4;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 12px 14px;
  margin-top: 20px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.shipping-adress__form-btn:hover {
  color: #ffffff;
  background-color: #f16d7f;
}

.coupone-discont__text {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}

.coupone-discont__form {
  margin-top: 25px;
}

.coupone-discont__form-unit {
  margin-top: 25px;
}

.goto-checkout {
  background-color: #f5f3f3;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.goto-checkout__sub-total {
  color: #a4a4a4;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.goto-checkout__grand-total {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.goto-checkout__grand-total-value {
  color: #f16d7f;
}

.goto-checkout__btn {
  color: #ffffff;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 40px;
  outline: none;
  margin-top: 40px;
}

.checkout {
  padding-top: 60px;
  padding-bottom: 90px;
}

.checkout__category[open] > .checkout__category-name::before {
  contain: '';
}

.checkout__category-name {
  cursor: default;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
  display: block;
}

.checkout__category-name::-webkit-details-marker {
  display: none;
}

.checkout__category-name::before {
  content: '';
}

.checkout__category-content {
  padding: 40px 35px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.checkout__category-content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout__category-content-text-style-one {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.checkout__category-content-text-style-two {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  padding-top: 15px;
}

.checkout__category-content-text-style-two_add-pad {
  padding-top: 30px;
}

.checkout__category-content-text-style-two_color-accent {
  color: #ff0d0d;
  padding-top: 20px;
}

.checkout__category-content-form-reg {
  padding-right: 290px;
}

.checkout__category-content-form-reg-input {
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.checkout__category-content-form-reg-input_add-pad {
  padding-bottom: 20px;
}

.checkout__category-content-form-reg-input_color-accent {
  color: #ff0d0d;
  font-size: 17px;
}

.checkout__category-content-form-btn {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 10px;
  text-align: center;
  width: 180px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.checkout__category-content-form-btn:hover {
  color: #ffffff;
  background-color: #a4a4a4;
}

.checkout__category-content-form-reg-btn {
  margin-top: 38px;
}

.checkout__category-content-form-signin {
  padding-top: 27px;
}

.checkout__category-content-form-signin-input {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
  padding: 12px;
  width: 366px;
}

.checkout__category-content-form-signin-input_add-margin {
  margin-top: 23px;
}

.checkout__category-content-form-forgot-pass-ref {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 25px;
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
}

.checkout__category-content-form-forgot-pass-ref:hover {
  color: #f16d7f;
  border-bottom: 2px dashed #f16d7f;
}

.checkout__category-content-form-signin-btn {
  padding-top: 30px;
}
/*# sourceMappingURL=style.css.map */